<html>
<head>
    <title>
        Recipe Application Login Page
    </title>
</head>
<body>
    <!-- names are not selectable in jquery need to use ids -->
    <form>
    <label for="username">User Name</label>
    <input type="text" name="username" id="username"><br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password"><br>
    <input type="button" id="login">
    </form>

    <p id="errorMessage"></p>

    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="/login.js"></script>
</body>
</html>