<html>
<head>
    <title>
        Recipe Application Login Page
    </title>
</head>
<body>
    <form action="welcome.php" method="post">
    <label for="username">User Name</label>
    <input type="text" name="username"><br>
    <label for="password">Password</label>
    <input type="password" name="password"><br>
    <input type="submit">
    </form>
    <script
        src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
        crossorigin="anonymous"></script>
    <script src="/public/login.js"></script>
</body>
</html>