<html>
<head>
    <title>
        Recipe Application Main Page
    </title>
    <link rel="stylesheet" type="text/css" href="/mainpage.css">
</head>
<body>

<div class="container">
    <div class="pageHeader">
        Recipe Viewer
    </div>

    <div style="width: 100%;">
        <table align="right" border="0">
            <tr>
                <td><input type="button" class="addRecipeButton" id="deleteRecipe" value="Delete Recipe"></td>
                <td><input type="button" class="addRecipeButton" id="addRecipe" value="Add Recipe"></td>
                <td>
                    <div class="dropdown">
                        <button class="userDropDown"><img src="user_emblem.png" width="30" height="30">&nbsp;<span id="currentUser"></span></button>
                            <div class="dropdown-content" style="left:0;">
                            <a href="" id="logout">Logout</a>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>

    <br>
    <br>
    <br>

    <p id="errorMessage"></p>
    <table border="0" class="recipeBook">
        <tr class="recipeBookHeader">
            <th>Your Recipes</th>
            <th>Procedure</th>
        </tr>
        <tr>
            <td id="allRecipes">You have No Recipes In The Database</td>
            <td id="procedure">No Recipe Selected</td>
        </tr>
    </table>
</div>

<script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
<script src="/mainPage.js"></script>
</body>
</html>