<html>
<head>
    <title>
        Recipe Application Main Page
    </title>
</head>
<body>
    <h1>Successful Login</h1>
    <p>You are logged in as: <span id="currentUser"></span></p>
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="/mainPage.js"></script>
</body>
</html>